<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo comentario</title>
</head>
<body>
    <h1>Crear un nuevo comentario</h1>
    <form action="/comentarios" method="post">
        <label for="usuario">Ingresar usuario</label>
        <input type="text" id="usuario" placeholder="usuario" name="usuario">
        <br>
        <label for="comentario">Ingresar comentario</label>
        <br>
        <textarea name="comentario" id="comentario" cols="30" rows="5"></textarea>
        <br>
        <input type="submit" value="Enviar">
    </form>
    <a href="/comentarios">Volver</a>
</body>
</html>